@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

#content {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

#home-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px;
}

#sadge-img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    object-fit: cover;
}

body {
    font-family: "Comic Neue", cursive;
}

#message-label {
    display:inline-block;
    margin-top: 16px;
}

.adventuretime {
   width: 100%;
   height: 100%;
}

#navigation-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 24px;
    background-color: #f4f399;
    width: 100vw;
}