/* Smartphones (portrait). Vertel hier ook welke je gekozen hebt----------- */
/* Dit werkt voor eigenlijk alle smartphones, maar een specifiek model is bijv de iphone 15 */
@media only screen 
and (min-width : 0px) 
and (max-width : 720px) 
{
    body {
        background-color: green;
    }
}


/* Tablet (portrait). Vertel hier ook welke je gekozen hebt ----------- */
/* Dit werkt voor bijna alle tablets (sommige tablets zijn heel klein of heel groot), maar een specifiek model is bijv de ipad air 10.9" 2020 */
@media only screen
and (min-width : 720px)  
and (max-width :  1200px) 
{
    body {
        background-color: blue;
    }
}

/* Laptop/PC. Vertel hier ook welke je gekozen hebt ----------- */
/* Dit werkt voor bijna alle laptops/pc (sommige laptops/pcs hebben kleinere schermen), maar een specifiek model is bijv de macbook air 2020 13"*/
@media only screen
and (min-width : 1200px)
{
    body {
        background-color: red;
    }
}
